brokerClusterName = DefaultCluster
brokerName = broker-${PORT}
brokerId = ${BROKER_ID}
brokerIP1 = 172.17.72.93
listenPort= ${PORT}
deleteWhen = 04
fileReservedTime = 48
brokerRole = ${BROKER_ROLE}
flushDiskType = ASYNC_FLUSH
